
body {
  min-height: 2000px;
}

.navbar-static-top {
  margin-bottom: 19px;
}

.center-align {
	text-align: center;
}
img.center-align {
	display: block;
	margin-right: auto;
	margin-left: auto;
}

.jumbotron-index {
	text-align: center;
	background-color: transparent;
}